{% extends "base.html" %}

{% block title %}Protectora+ LauraGarcia {% endblock %}

{% block extracss%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<style>
  #mapa { height: 400px ;}
</style>
{% endblock %}


{% block content %}
<center><h1>Índice del catálogo de datos</h1></center>
<hr>

<h2 class="mt-4">Últimos rescates</h2>
<ul>
  {% for rescate in rescates %}
  <li>{{rescate.nombre_animal}}
    {%if rescate.especie %}
    ({{rescate.especie}})
    {% endif %}

  </li>

  {% endfor %}
</ul>

<!--mapa-->
<hr>
<div id="mapa"></div>

<!---->

<!--formulario-->
<h2 class="mt-4">Formulario de contacto</h2>
<div>
  <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}"
    method="post" class="form-inline mt-2 mt-md-0" action="" method="get">
    <fieldset id="fs-frm-inputs">
      <label for="full-name">Nombre completo: </label>
      <input type="text" name="name" id="full-name" placeholder="Alfonso Fernandez Martín" required="">
      <br>
      <label for="email-address">Correo electrónico: </label>
      <input type="email" name="_replyto" id="email-address" placeholder="alfonsofm@gmail.com" required="">
      <br>
      <label for="message">Observación/es o dudas: </label>
      <textarea rows="1" name="message" id="message" placeholder="Escriba aquí." required=""></textarea>
      <br>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission"
        class="form-control mr-sm-2" aria-label="Search">
    </fieldset>
    <input type="submit" value="Enviar">
  </form>
  <hr>
  <h2 class="mt-4">Buscar rescate/s</h2>
  <form class="form-inline mt-2 mt-md-0" action="{% url 'buscarescates' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  </form>
  {% if noencontrado %}
  <h3 class="error">Mensaje no encontrado</h3>
  {% endif %}

</div>
<br>
<br>
<br>
{% for protectora in protectoras %}
{{protectora.coordenadas}}  {{protectora.nombre_protectora}};
{% endfor %}
{% endblock %}

<!--js mapa-->
{% block extrajs %}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   <script>
      var mimapa = L.map('mapa').setView([{{coordenadas}}], 13);

      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
      }).addTo(mimapa);
      {% for protectora in protectoras %}
        L.marker([{{protectora.coordenadas}}]).addTo(mimapa).bindPopup("{{protectora.nombre_protectora}}");
      {% endfor %}
   </script>
{% endblock %}