{% extends "base.html" %}

{% block title %}Mi superProtectora {% endblock %}

{% block content %}
<center><h1>Índice del catálogo de datos</h1></center>
<hr>

<h2 class="mt-4">Últimos rescates</h2>
<ul>
  {% for rescate in rescates %}
  <li>{{rescate.nombre_animal}}
      {%if rescate.nombre_raza %}
      ({{rescate.nombre_raza}})
      {% endif %}

  </li>

  {% endfor %}
</ul>



<h2 class="mt-4">Formulario de contacto</h2>
<div>
  <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}"
    method="post" class="form-inline mt-2 mt-md-0" action="" method="get">
    <fieldset id="fs-frm-inputs">
      <label for="full-name">Nombre completo: </label>
      <input type="text" name="name" id="full-name" placeholder="Alfonso Fernandez Martín" required="">
      <br>
      <label for="email-address">Correo electrónico: </label>
      <input type="email" name="_replyto" id="email-address" placeholder="alfonsofm@gmail.com" required="">
      <br>
      <label for="message">Observación/es: </label>
      <textarea rows="1" name="message" id="message" placeholder="Escriba aquí." required=""></textarea>
      <br>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission"
        class="form-control mr-sm-2" aria-label="Search">
    </fieldset>
    <input type="submit" value="Enviar">
  </form>
  <hr>
  <h2 class="mt-4">Buscar rescate/s</h2>
  <form class="form-inline mt-2 mt-md-0" action="{% url 'buscalibros' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  </form>
  {% if noencontrado %}
  <h3 class="error">Mensaje no encontrado</h3>
  {% endif %}

</div>

{% endblock %}