{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Especie</th>
      <th scope="col">Nombre de la raza</th>
      <th scope="col">Descripción</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if animales %}
  <tbody>
    {% for animal in animales %}
    <tr>
      <td>{{animal.nombre_raza}}</td>
      <td>{{animal.especie}}</td>
      <td align="justify">{{animal.descripcion_animal}}</td>
      <td><a id="modify-button" class="btn btn-danger" href="{% url 'eliminar_animal' animal.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <p>No hay aniamles en la base de datos.</p>
{% endif %}
</table>

{% endblock %}