{% extends "base.html" %}

{% block title %}Listado de rescates{% endblock %}

{% block content %}
    <h1>Listado de resultados</h1>
    
    <ul>
    {% for rescate in rescate_list %}
        <li><b>{{rescate.nombre_animal}}</b>, {{rescate.especie}}:
            <br>
            <p align="justify">{{rescate.descripcion_rescate}}
            <br>
            <b>Información general de la raza:</b> {{rescate.especie.descripcion_animal}}
            <br>
            <b>Ubicado/a en:</b> {{rescate.nombre_protectora}}</p>
        </li>  
        <hr>

    {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior ---</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">--- Siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}